body {
    font-family: "Gaegu", sans-serif;
  }



.center-text {
    text-align: center;
   
    
}

.center-box {
    
    margin: auto;
   width: 100%;
   text-align: center;
}

textarea {
   
     box-sizing: border-box;
    display: block;
    width: 60%;
    min-height: 20vh;
    margin: auto;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: #F9ED69;
 border-radius: 10px;
    margin: 1rem 0rem;
    padding: 10px;
    font-family: inherit;
    font-size: large;
}
#txt-output {
    box-sizing: border-box;
    width: 60%;
    min-height: 10vh;
    max-height: 20vh;
    margin: auto;
    overflow:scroll;
    border: 1px solid black;
}

.header{
    text-align: center;
    background-color: #F9ED69;
    font-family: "Sofia", sans-serif;
    padding: 16px;
    color: #191F42;
    
    
}

.button:hover {
    background-color: #6A2C70;
    color: white;
    
}






/**Footer**/
.footer {
    background-color: #F9ED69;
    color: #191F42;
    padding: 0.75rem 1rem;
    text-align: center;
  
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}


